[unix_http_server]
file=/var/run/supervisor.sock                       ; path to your socket file

;[inet_http_server]
;port=9001

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///var/run/supervisor.sock

[supervisord]
nodaemon=true
redirect_stderr=true
stdout_logfile=/var/log/supervisor/supervisord.log
logfile_maxbytes=20MB
logfile_backups=10


[program:kafka]
user={{ kafka_user }}
command=env EXTRA_ARGS={{ kafka_java_opts }} KAFKA_HEAP_OPTS={{ kafka_heap_opts }} JMX_PORT=9999 {{ kafka_dir }}/bin/kafka-server-start.sh {{ kafka_config_dir }}/server.properties
autostart=true
autorestart=true
redirect_stderr=true
stopwaitsecs=2
stdout_logfile=/var/log/supervisor/kafka.log
logfile_maxbytes=20MB
logfile_backups=10


[include]
files = /etc/supervisor/conf.d/*.conf